[submodule "android-cmake"]
	path = android-cmake
	url = https://github.com/OSVR/android-cmake.git
	branch = with-updates-merged
[submodule "src/libfunctionality"]
	path = src/libfunctionality
	url = https://github.com/OSVR/libfunctionality.git
	branch = master
[submodule "src/jsoncpp"]
	path = src/jsoncpp
	url = https://github.com/vrpn/jsoncpp.git
[submodule "src/hidapi"]
	path = src/hidapi
	url = https://github.com/signal11/hidapi
[submodule "src/libusb"]
	path = src/libusb
	url = https://github.com/libusb/libusb
[submodule "src/OSVR-Core"]
	path = src/OSVR-Core
	url = https://github.com/OSVR/OSVR-Core.git
	branch = master
	fetchRecurseSubmodules = true
[submodule "src/android_sensor_tracker"]
	path = src/android_sensor_tracker
	url = https://github.com/OSVR/OSVR-Android-Plugins.git
[submodule "src/OSVR-RenderManager"]
	path = src/OSVR-RenderManager
	url = https://github.com/sensics/OSVR-RenderManager.git
[submodule "src/boost"]
	path = src/boost
	url = https://github.com/OSVR/Boost-for-Android.git
